<!doctype html>
<html>
    <head>
        <meta
        name="viewport"
        content="width=device-width,initial-scale=1.0"
        user-scaleable="yes"
        charset="utf-8"
        >
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="yolo.css">
        <title>YOLO.Site</title>
    </head>
    <body>
        <fieldset>
           
            <div class="login">
                <legend>로그인</legend>
                아이디 :<br>
                <input type="text" name="id"><br>
                비밀번호 :<br> 
                <input type="text" name="password"><br><br>
                <a href="/test"><input type="submit" ></a>
            
            </div>
        </fieldset>
      
    </body>

</html>