<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta
        name="viewport"
        content="width=device-width,initial-scale=1.0"
        user-scaleable="yes"
        charset="utf-8"
    >
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="yolo.css">
        <title>YOLO.Site</title>
    </head>
    <body>
        <div id = "main">
            <a href="join.html">회원가입</a><br>
            <a href="login.html">로그인</a>
            <div class="main">
                <div class="header">
                    <li>Home</li>
                </div>
            </div>
        </div>
        <script>

        </script>
    </body>
</html>